* {
    font-family: 'Dosis', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* LIGHT MODE header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #8794c0;
    width: 100%;
    padding: 20px 0;
    top: 0;
    box-shadow: 0 0 25px 0 rgb(134 134 134 / 25%);
}
.header-title {
    font-family: 'Silkscreen', cursive;
    font-size: 30px;
    text-align: center;
}
.header-buttons {
    margin: 0 15px;
    padding: 8px 10px;
    font-size: 16px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.header-buttons:hover {
    background-color: #abb6c8;
    border-radius: 7px;
}
.header-icons {
    padding: 0 5px 0 0;
}
.aside-tools-mode-cont {
    margin: 15px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/* DARK MODE header */
.dark-mode {
    background-color: #1c2135;
}
.dark-mode .header-title {
    color: #fff;
}
.dark-mode .header-buttons {
    color: #fff;
}
main {
    height: 100vh;
    background-color: #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-cont {
    padding: 2em 0;
}
/* DARK MODE main */
.dark-mode-main {
    background-color: #5a6794;
}
.canvas-cont {
    width: 100%;
    max-width: 450px;
    height: 450px;
    background-color: black;
    position: relative;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.meme-top-text {
    width: 100%;
    color: black;
    text-align: center;
    padding: 20px 10px;
    background-color: #fff;
    font-family: Impact;
    font-size: 40px;
    z-index: 5;
    top: 0;
    word-break: break-word;
}
.meme-image-cont {
    width: 100%;
    flex: 1;
    background-size: cover;
    background-position: center;
}
.meme-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.meme-bottom-text {
    width: 100%;
    color: black;
    background-color: #fff;
    padding: 20px 10px;
    text-align: center;
    font-family: Impact;
    font-size: 40px;
    z-index: 5;
    bottom: 0;
    word-break: break-word;
}

.download-button {
    padding: 10px 10px;
    /* Margin sugerido por Gabi, investigar medida em */
    margin: 2em 0;
    border-radius: 10px;
    border-color: green;
    background-color: greenyellow;
    cursor: pointer;
    font-size: 20px;
}
.download-button:hover {
    background-color: rgb(151, 223, 43);
}
.download-button-icon {
    padding: 0 5px 0 0;
}
/* ASIDE PANEL */
.aside-cont {
    display: none;
    justify-content: flex-end;
}
#sidebar {
    z-index: 10;
    height: 100vh;
    width: 25%;
    position: fixed;
    top: 0;
    background-color: #abb6c8;
    display: flex;
    flex-direction: column;
}
.close-aside-btn-cont {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
.open-sidebar {
    display: flex;
}
.fa-xmark {
    font-size: 25px;
    margin: 10px 20px;
}
.dark-mode-panel{
    background-color: #2d3141 !important;
    color: white;
}
.edit-cont {
    width: 100%;
    display: flex;
    flex-direction: column;
}
/* ESTILOS DE EDICIÓN DE IMÁGEN */
#image-edit-panel-section {
    margin: 0 20px 20px 20px;
    display: none;
    flex-direction: column;
}
.url-image-input {
    width: 100%;
    height: 25px;
    margin: 0 0 8px 0;
    padding: 6px 0;
    border-radius: 5px;
    border: none;
}
.img-subtitles {
    margin: 8px 0;
}
.img-edit-input {
    margin: 10px 0 12px 0;
    padding: 6px 0;
    border-radius: 5px;
    border: none;
}
.edit-cont-slider {
    margin: 12px 0;
    display: flex;
    flex-direction: column;
}
.default-button {
    margin: 20px 0 0 0;
    padding: 6px 0;
    border-radius: 5px;
    border-width: 1px;
    border-color: #2d3141;
    cursor: pointer;
}
/* ESTILOS DE EDICIÓN DE TEXTO */
#text-edit-panel-section {
    margin: 0 20px 20px 20px;
    display: none;
    flex-direction: column;
}
.text-subtitles {
    margin: 8px 0;
}
.text-edit-input {
    padding: 6px 6px;
    margin: 0 0 5px 0;
    border-radius: 5px;
    border: none;
}
.font-size-align-cont {
    display: flex;
    flex-wrap: wrap;
}
.align-button {
    padding: 6px 5px;
    border-radius: 5px;
    border: none;
}
.align-buttons-cont {
    margin: 0 0 0 5px;
}
.text-bg-btn-cont {
    margin: 5px 0 0 0;
}
.outline-text-buttons {
    display: flex;
    flex-wrap: wrap;
}
.outline-text-btn {
    background-color: #8794c0;
    padding: 6px 12px;
    margin: 0 5px 5px 0;
    border-radius: 5px;
    cursor: pointer;
}
.lightOutlineValue {
    -webkit-text-stroke: 2px #ffffff;
}
.darkOutlineValue{
    -webkit-text-stroke: 2px #000000;
}
/* FOOTER STYLES */
footer {
    background-color: #5d7599;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* DARK MODE */
.dark-mode-footer {
    background-color: #1c2135;
    color: #fff;
}

@media (max-width: 830px) {
    .header-buttons {
        font-size: 20px;
    }
    .align-buttons-cont {
        margin: 0px;
    }
}
@media (max-width: 620px) {
    #sidebar {
        width: 100%;
    }
    #image-edit-panel-section {
        margin: 0 35px 20px 35px;
    }
    #text-edit-panel-section {
        margin: 0 35px 20px 35px;
    }
    .align-buttons-cont {
        margin: 0px;
    }
    .fa-xmark {
        font-size: 28px;
        margin: 20px 20px;
    }
}
@media (max-width: 460px) {
    .align-buttons-cont {
        margin: 0 0 0 5px;
    }
    .fa-xmark {
        font-size: 28px;
        margin: 20px 25px;
    }
}